html{
    background-color:azure;
    
}
h1{
  color: blue;
}

p{
  color: green;
}

img{
  width: 100px;
}

img.galleryImage{
  width: 200px;
}

p.paragraphTest{
  color: red;
  font-family: Baskerville;
  font-size:40px;
}